// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.users {
  td.role-name {
    text-align: right;
    vertical-align: middle;
  }

  td.name {
    vertical-align: middle;
  }
}